<!DOCTYPE html>
<html lang="en" ng-app="blogSite">
<head>
	<meta charset="UTF-8">
	<title>JS5</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script src="app.js"></script>
	
	<style>

	body {
		width: 960px;
	}
	section {
		margin: auto;
		width: 90%;
	}
	.firstDisplay, .secondDisplay {
		width: 200px;
	}

	</style>

</head>
<body ng-controller="blogFunc">
	
	<section>
		<div class="col40">
			<img src="http://orig15.deviantart.net/5470/f/2010/105/4/5/random_person_by_vurtov.jpg" alt="rando">
		</div> <!-- col40 -->
		
			
			<div class="firstDisplay">
				<p ng-bind="descript" ng-show="showingElement1" ng-click="change1()"></p>

				<input id="inputNumber1" ng-model="updateDescript" ng-hide="showingElement1" ng-blur="blur1()" type="text" placeholder="Blog o' the rando dude!">
			</div>


			<div class="secondDisplay">
				<p ng-show="showingElement2" ng-click="change2()">Birthplace: <span ng-bind="bday"></span></p>
				<input class="inputNumber2" ng-model="updateBday" ng-hide="showingElement2" ng-blur="blur2()" type="text" placeholder="enter me">

				
			</div>
		</div> <!-- col60 -->
	</section>

</body>
</html>