<!DOCTYPE html>
<html ng-app="JobApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  </head>
  <body ng-controller="applicantController">
	  
    <div class="container">
      <p ng-show="applicantName" class="removed">{{applicantName}} has been deleted</p>
      <h1>Applicants</h1>
      <ul id="applications" class="list-unstyled">
        <li ng-repeat="applicant in applicantData">
          {{applicant.name}} <button ng-click="removeApplicant(applicant._id)">No job for you!</button>
        </li>
      </ul>
    </div>
	  
	<script src="/javascripts/main.js"></script>

  </body>
</html>