body {
	margin: 0;
	position: relative;
}

#map {
	background-image: url('topo-co.jpg');
	background-size: cover;
	height: 768px;
	position: absolute;
	width: 1366px;
}


#marker {
	height: 0;
	width: 0;
	z-index: 10;
}

#marker img {
	position: absolute;
}