<!DOCTYPE html>
<html lang="en" ng-app="inspirationalQuotes">
<head>
	<meta charset="UTF-8">
	<title>Inspirational Quotes</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body ng-controller="quotesControl">

	<div>
		<form ng-submit="quoteCreate(scope.author, scope.text)">
			<input ng-model="scope.author" type="text" placeholder="Please enter author"> </br> </br>
			<textarea ng-model="scope.text" name="authorText" id="" cols="30" rows="10" placeholder="Please enter the author's quote"></textarea>
			<input type="submit" value="submit">
		</form>
	</div>
	
	<div ng-repeat="quote in quotes">
		<h3>Author: {{quote.author}}</h3>
		<p>the text: {{quote.text}}</p>
		
	
	</div>
	
</body>
</html>