

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
				TESTING
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
			GENERAL CONTENT 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

p {
	font-size: 13px;
}

.container {
	margin: auto;
	max-width: 500px;
	width: 500px;
}


.section-title {
	margin-left: 30px;
}

.section-text {
	margin: 20px 40px;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
				HEADER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
	background-color: #7f8c8d;
	font-family: verdana;
}


.header-wrapper {
	margin-top: 20px;
}

.header {
	background-color: #2ecc71;
	box-shadow: 0 5px #27ae60;
	margin-bottom: 5px;
	height: 200px;
}

.header h2 {
	padding-left: 12px;
	padding-top: 32%;
	color: white;
	/*position: absolute;*/
}

.header-nav {
	background-color: #34495e;
	box-shadow: 0 5px #2c3e50; 
	height: 34px;
	line-height: 34px;
}

.header-nav ul {
	margin-bottom: 0;
	margin-top: 0;
	list-style-type: none;
	text-align: right;
}

.header-nav li {
	display: inline-block;
	margin-right: 25px;
}

.header-nav li:last-child {
	margin-right: 15px;
}

.header-nav a {
	color: white;
	font-size: 13px;
	text-decoration: none;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
				BLOG NAV 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.blog-nav {
	background-color: white;
	box-shadow: 0 3px #444444;
	float: right;
	padding-top: 5px;
	position: absolute;
	left: 102%;
	top: 0;
	width: 170px;
}


.blog-nav ul {
	font-weight: bold;
	font-size: 12px;
	padding-left: 12px;
}

.blog-nav li {
	list-style: none;
	padding-left: 8px;
	padding-bottom: 3px;
}

.blog-nav li:first-child {
	margin-top: 10px;
}

.blog-nav a {
	color: #6e666e;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		 CONTENT SECTIONS 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.content-wrapper {
	background-color: #ecf0f1;
	margin-bottom: 20px;
	position: relative;
}

.article-title h3 {
	margin-top: 0;
	padding-top: 40px;
	text-indent: 25px;
}

.article-title p {
	margin: 40px;
}

.article-title a {
	color: #d97f3c;
	text-decoration: none;
}

.content-table table, th, td {
	border: 1px solid #bdc3c7;
}

.content-table table {
	margin-left: 20px;
	margin-right: 20px;
}
.content-table th {
	background-color: #bdc3c7;
}

.content-table td {
	font-size: 13px;
	padding-left: 10px;
	padding-right: 15px;
}

.content-table button {
	background-color: #3498db;
	border: none;
	color: white;
	font-size: 12px;
	padding: 3px 16px;
}

.code-example {
	background-color: #bdc3c7;
	height: 80px;
	margin: auto;
	width: 460px;
}

.code-example pre {
	color: #333333;
	font-size: 12px;
	margin-left: 35px;
	padding-top: 25px;
}

.code-example span {
	text-indent: 50px;
}

.center-img {
	position: relative;
	width: 100%;
}

.center-img img {
	display: block;
	margin: auto;
}

.content-steps ol {
	padding-left: 47px;
	padding-right: 30px;
}

.content-steps li {
	font-family: arial;
	font-size: 13px;
	margin-bottom: 12px;
}

.content-steps span {
	font-weight: bold;
}

.author {
	color: #a09999;
	margin-bottom: 50px;
	margin-top: 30px;
	text-indent: 20px;
}

.author span {
	font-size: 12px;
	font-weight: 600;
}

.comments h4 {
	text-indent: 20px;
}


.form ul {
	list-style-type: none;
	margin: 30px 0 35px 0;
	padding-left: 0;
	text-align: right;
}

.form li {
	font-size: 13px;
	margin-bottom: 6px;
	margin-right: 40px;
}

.form input {
	width: 330px;
}

.form textarea {
	display: block;
	margin: auto;
}






